.billboard
    display: none
    position: relative

.billboard-container
    .item
        position: relative
        float: left

        .image
            display: block
            width: 100%

        .text
            +text-shadow(0 0 2px rgba(0, 0, 0, 0.3))

            width: $main-width
            position: absolute
            left: 50%
            top: 40%
            margin-left: -($main-width / 2)

        .text-container
            width: 600px
            color: #fff

    .item-right
        .text-container
            float: right
            text-align: right

    .item-center
        .text-container
            margin: 0 auto
            text-align: center

.billboard-index
    z-index: 99
    width: 100%
    position: absolute
    left: 0
    bottom: 15px
    text-align: center

    a
        $size: 15px
        +border-radius($size)
        +box-shadow(0 0 0 2px rgba($color-2, 0.5))
        +transition(all 0.1s)

        display: inline-block
        width: $size
        height: $size
        margin: 0 5px
        background: $color-2
        text-indent: -9999px

        &.selected
            background: #fff
