// Helper
+basis-range-property("width", 10, 700, 5)
+basis-range-property("height", 10, 700, 5)

+basis-background-color("1", $color-1)
+basis-background-color("2", $color-2)

+basis-color("1", $color-1)
+basis-color("2", $color-2)

.main-container
    @extend %main-container

// Button
+basis-button-extend("1", $color-1)
+basis-button-extend("2", $color-2)

// Text
.text
    p
        font-size: 1.4em

// Block
.block-notice
    color: darken($color-2, 20%)

    &:before
        color: $color-2

.block-pane
    +border-radius(3px)

    padding: 30px
    border: 1px dashed #ddd

.block-pane-2
    +border-radius(3px)

    padding: 15px
    background: lighten($color-1, 20%)

.block-centered
    margin: 0 auto

.block-avatar
    $size: 230px
    +border-radius($size)
    +box-shadow(0 0 0 2px rgba(0, 0, 0, 0.1))

    display: inline-block
    width: $size
    height: $size
    overflow: hidden

    img
        display: block
        width: auto
        height: 100%

.block-loading
    margin: 30px 0
    color: $color-2
    font-family: $font-heading
    text-align: center

    &:before
        @extend .icon-loading-b

        display: block
        margin-bottom: 10px
        font-size: 4em

// Form
.field-count-counter
    color: $color-2
