.default-header
    +box-shadow(0 2px 0 rgba(0, 0, 0, 0.1))

    z-index: 900
    width: 100%
    position: fixed
    left: 0
    top: 0
    background: $color-1

    .main-logo
        a
            display: block
            width: 215px
            height: 135px
            position: absolute
            top: 5px
            left: 0
            margin: 0
            background:
                image: image-url("logo-margareth.png")
                position: 50% 50%
                repeat: no-repeat
                size: auto 100%
            text-indent: -9999px

    .main-nav
        float: right
        margin-top: 27px

        li
            display: inline

            &:first-child
                a
                    border: none

        a
            +transition(all 0.1s)

            display: block
            float: left
            padding: 5px 15px
            border-left: 1px solid darken($color-2, 30%)
            color: $color-2
            font:
                size: 1.2em
                family: $font-heading
            text-decoration: none

            &:hover
                color: #fff

.default-header-container
    @extend %main-container

    height: 80px

.default-social
    padding: 60px 0
    background: lighten($color-1, 20%)
    text-align: center

    h3
        color: #fff
        font:
            weight: normal
            size: 4em
            family: $font-default

    ul
        margin-top: 30px

    li
        display: inline

        &.facebook
            a
                background: #3b5998

                &:hover
                    background: lighten(#3b5998, 5%)

                &:before
                    content: "\f231"

        &.twitter
            a
                background: #4099ff

                &:hover
                    background: lighten(#4099ff, 5%)

                &:before
                    content: "\f243"

        &.instagram
            a
                background: #517fa4

                &:hover
                    background: lighten(#517fa4, 5%)

                &:before
                    content: "\f351"

    a
        +border-radius(3px)
        +transition(all 0.1s)

        display: inline-block
        padding: 15px 25px
        margin: 0 10px
        color: #fff
        font:
            weight: bold
            size: 1.3em
            family: $font-heading
        text-decoration: none

        &:before
            @extend %basis-icon

            margin-right: 5px

.default-footer
    padding: 60px 0
    color: $color-light
    text-align: center

    .logo-margareth
        img
            width: 110px

    .contact
        margin-top: 15px
        line-height: 180%

        %icon-block
            position: relative
            font:
                weight: normal
                size: 1.1em
                family: $font-heading

            &:before
                @extend %basis-icon

                margin-right: 5px
                font-size: 15px

            a
                +transition(all 0.1s)

                color: $color-1
                text-decoration: none

                &:hover
                    color: $color-2

        .location
            @extend %icon-block

            &:before
                content: "\f1ff"

        .phone
            @extend %icon-block

            &:before
                content: "\f4b9"

        .email
            @extend %icon-block

            &:before
                content: "\f423"

    .share
        margin-top: 30px
