.news-items
    @extend %basis-clearfix

    li
        display: block
        width: 216px
        height: 280px
        float: left
        margin: 0 10px

    a
        +border-radius(3px)
        +box-sizing(border-box)
        +transition(all 0.1s)

        display: block
        width: 100%
        height: 100%
        padding: 5px
        border: 1px dashed #ddd
        color: $color-dark
        text:
            align: center
            decoration: none

        &:hover
            border-color: $color-2
            color: $color-1

    img
        display: block
        width: 100%

    .title
        display: block
        padding: 5px
        font:
            size: 1.2em
            family: $font-heading
        line-height: 130%

.news-nav
    margin-top: 30px
    text-align: center

    a
        $size: 40px
        +border-radius($size)
        +transition(all 0.1s)

        display: inline-block
        width: $size
        height: $size
        margin: 0 5px
        background: $color-3
        color: $color-1
        font-size: 1.2em
        line-height: $size
        text:
            decoration: none
            align: center

        &:before
            @extend %basis-icon

        &.prev
            &:before
                content: '\f124'

        &.next
            &:before
                content: '\f125'

        &:hover
            background: $color-2

.news-viewer
    width: 700px
    height: 340px
    overflow: auto
    padding-right: 15px
