.section-page-container
    @extend %main-container

    padding: 50px 0 30px

.section-page-header
    text-align: center

    h1
        color: $color-2
        font:
            size: 6em
            weight: normal
            family: $font-default
        letter-spacing: -2px

    h3
        margin-top: 10px
        color: #777
        font-weight: normal
        letter-spacing: -1px

.section-page-content
    margin-top: 30px

.section-page-a
    background: $color-3

    .section-page-header
        h1
            color: $color-1

.section-page-b
    height: 453px
    background: image-url("hiperbanner.jpg") 50% 50% no-repeat

.section-page-c
    background: lighten($color-1, 10%)
    color:  #fff

    .section-page-header
        h1
            color: $color-2

        h3
            color: #fff

    %icon-block
        position: relative
        margin-bottom: 15px
        padding-left: 25px
        font-size: 1.3em
        line-height: 150%

        &:before
            @extend %basis-icon

            content: "\f1ff"
            position: absolute
            left: 0
            top: 0
            font-size: 25px

        a
            +transition(all 0.1s)

            color: #fff
            font-weight: bold
            text-decoration: none

            &:hover
                color: $color-2

    address
        @extend %icon-block

    .phone
        @extend %icon-block

        &:before
            content: "\f4b9"

    .email
        @extend %icon-block

        &:before
            content: "\f423"
