.showcase
    @extend %basis-clearfix

.showcase-index
    width: 25%
    float: left

    a
        +border-left-radius(3px)
        +transition(all 0.1s)

        display: block
        margin-bottom: 1px
        padding: 15px
        color: $color-1
        font-size: 1.6em
        text-decoration: none

        &:hover
            background: $color-2

    li
        &.on
            a
                background: $color-1
                color: #fff

.showcase-grid
    +box-sizing(border-box)

    width: 75%
    min-height: 450px
    float: left
    padding: 0 15px 15px
    border-left: 1px solid $color-1

    .index
        @extend %basis-clearfix
        +border-radius(3px)

        margin-bottom: 15px
        padding: 15px
        background: $color-2

        h4
            margin-top: 10px
            color: #fff
            font:
                size: 1.3em
                family: $font-heading
            text-align: right

.gallery
    @extend .list-thumb
