.block-box
    +border-radius(3px)

    padding: 15px
    background: #f8f8f8

.block-bordered
    +border-radius(3px)

    padding: 15px
    border: 1px solid #eee
    background: #fff

.block-media
    a
        border: none !important

.block-media-left
    float: left
    margin: 0 15px 15px 0

.block-media-right
    float: right
    margin: 0 0 15px 15px

.block-media-center
    margin-bottom: 15px
    text-align: center

.block-notice
    +border-radius(3px)

    padding: 15px
    color: #777
    text-align: center

    &:before
        @extend %basis-icon

        color: #ddd
        font-size: 80px

    p
        margin: 0.5em
        font-size: 1.3em
        line-height: 130%

.block-notice-empty
    &:before
        content: "\f272"

.block-embed
    position: relative
    padding-bottom: 56.25%
    padding-top: 30px
    height: 0
    overflow: hidden

    iframe,
    object,
    embed
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

.block-quote
    margin: 15px 0
    padding: 10px 0
    border: 1px solid $color-info
    border:
        left: none
        right: none
    color: $color-info
    font:
        style: italic
        size: 1.3em
    text-align: center

.block-scroll
    height: 100px
    overflow: auto
    padding: 15px

.block-action
    margin-top: 15px
    padding-top: 15px
    border-top: 1px dotted #ddd
    text-align: right

    .button
        margin-left: 2px

    ul
        display: inline-block
        margin-right: 15px

.block-group
    margin-bottom: 15px

.block-heading
    margin-bottom: 15px
