h1,
h2,
h3,
h4,
h5,
h6
	font:
		weight: bold
		family: $font-heading
	line-height: 100%

	small
		display: block
		font-size: 0.7em
		color: #999

h1
	font-size: 3.5em

h2
	font-size: 2.5em

h3
	font-size: 2em

h4
	font-size: 1.7em

h5
	font-size: 1.5em

h6
	font-size: 1.2em

.heading
	margin-bottom: 15px

.heading-page
	position: relative
	margin-bottom: 30px
	padding-bottom: 5px
	border-bottom: 3px solid #eee

	.action
		position: absolute
		right: 0
		bottom: 5px

		li
			display: inline
			margin-left: 4px

