.list-error
    li
        clear: both
        display: block
        padding-top: 5px
        color: $color-danger
        font-size: 0.8em

        &:before
            @extend %basis-icon

            content: "\f128"
            margin-right: 5px

.list-rating
    @extend %basis-clearfix

    display: inline

    li
        display: inline

        a
            +transition(all 0.1s)

            display: block
            float: left
            padding: 3px
            text-decoration: none
            color: #bbb

            &:before
                @extend %basis-icon

                content: "\f24e"
                font-size: 25px

            &:hover
                color: $color-warning

        &.on,
        &.on-hover
            a
                color: $color-warning

        &.off-hover
            a
                color: #bbb

.list-link-inline
    li
        display: inline
        color: #999

        &:before
            content: "/ "
            margin: 0 5px

        &:first-child
            &:before
                content: ""
                margin-left: 0

    a
        @extend %basis-link

.list-icon
    @extend %basis-clearfix

    margin: 0 !important
    padding: 0 !important

    li
        display: inline
        color: #ddd

        &:before
            content: "/ "
            margin: 0 5px

        &:first-child
            &:before
                content: ""
                margin-left: 0

    a
        $size: 30px
        +transition(all 0.1s)

        display: inline-block
        width: $size
        height: $size
        color: #ccc
        text:
            align: center
            decoration: none

        span
            font-size: 20px

        &:hover
            border: none
            color: $color-dark

.list-thumb
    li
        display: inline

    a
        +opacity(0.7)
        +transition(all 0.2s)

        display: block
        width: 145px
        height: 145px
        overflow: hidden
        float: left
        margin: 13px

        &:hover
            +opacity(1)

    img
        width: auto
        height: 150%
