.table
	display: table
	width: 100%
	background: #fff

	thead
		th
			padding: 10px
			border-bottom: 1px solid
			background: #fff
			color: $color-dark
			font:
				size: 1em
				family: $font-heading
			text-transform: uppercase

			a
				color: $color-dark
				text-decoration: none

				&:hover
					color: $color-info

			.order
				float: right
				margin-left: 3px
				font-size: 0.9em
				color: #888

				&:before
					@extend %basis-icon

					margin-right: 1px

				&:after
					@extend %basis-icon
					+transition(all 0.1s)

					content: "\f128"
					margin-left: 3px
					color: #ccc

				&:hover
					color: #888

					&:before
						color: #888

					&:after
						color: $color-info

			&.order-asc
				.order
					&:before
						content: "\f10d"

			&.order-desc
				.order
					&:before
						content: "\f104"

	tbody
		a
			@extend %basis-link

			font-weight: bold

		th,
		td
			padding: 10px

		tr
			+transition(all 0.1s)

			border-bottom: 1px solid #ddd

			&:last-child
				border: none

			&:nth-child(even)
				background: #f8f8f8

			&:hover
				background: #eee

			&.is-checked
				background: $color-highlight

	.field-action
		text-align: right

.table-total
	+box-sizing(border-box)

	display: table
	width: 100%
	margin-bottom: 25px
	border: 1px solid #ddd
	background: #fff

	th,
	td
		padding: 10px
		color: #666
		font-size: 1.1em
		text-align: right

	tr
		+transition(all 0.1s)

		border-bottom: 1px dotted #ccc

		&:last-child
			border: none

	tr:hover
		background: #eee

	.highlight
		th,
		td
			font-weight: bold
			color: $color-info

