.tag
	+border-radius(3px)

	display: inline-block
	padding: 5px
	background: #999
	color: #fff
	font:
		weight: bold
		family: $font-heading
	line-height: 100%

.tag-dark
	background: $color-dark

.tag-invert
	background: #eee
	color: $color-dark

.tag-warning
	background: $color-warning

.tag-success
	background: $color-success

.tag-error
	background: $color-danger

.tag-info
	background: $color-info
